.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  text-align: center;
  padding: 1rem;
  width: 90dvw;

  text-decoration: none;
  font-weight: bold;

}


